{{ define "home"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/main.css'>
        <title>Vimtricks</title>
    </head>
    <body> 
        <header>
            <h1>Vimtricks</h1>
        </header>
    <main>
        <h2>{{.Title}}</h2>
        <p>{{.Content}}</p>
    </main>
</html>
{{end}}